<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sass/style.css">
    {{>header_Link}}
    <title>Document</title>
</head>
<body>


{{!-- Main Body HOME --}}

<div class="conatiner-fluid main-menu">
    <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                
                {{>header}}
                
                </div>
    </div>
</div>

<div class="container-fluid main-header">
    
    <div class="row">
        <div class = 'col-md-10 col-12 mx-auto'>
                <div class="row">
                    <div class = "col-md-6 col-12 mx-auto main-hader-right">
                                
                        <figure>
                            <img src="images/pic.jpg" alt="profil-img" width="300px" height="400px">
                        </figure>


                    </div>


                    <div class = "col-md-6 col-12 mx-auto main-hader-left">
                        <p>welcome to the weather app</p>
                        <h1>I Am a <span>MERN stack developer </span> Student at DIT College</h1>
                        <a href="/weather"><button>about me</button></a>

                    </div>

                    

                </div>


                </div>
        </div>
    </div>



    {{!-- footer --}}
{{>footer}}

    
</body>
</html>